 /** { margin: 0; padding: 0; list-style: none; }*/
 #focus { position: relative; width: 100%; overflow: hidden;}
 #bigpic { height: 450px;}
 #bigpic li { position: absolute; top: 0; left: 0; }
 #smallpic { position: absolute; bottom: 10px; left: 453px;}
 #smallpic li { cursor: pointer; float: left; width: 120px; height: 30px; background: white; line-height: 30px; text-align: center; font-size: 13px; margin-right: 10px;}
 /*#smallpic li:hover { background: #333333; color: white;}*/

#goods_classify { position: absolute; top: 192px; left: 111px; height: 450px; width: 190px; background: #E3E3E3;}
#goods_classify div { z-index: 1000; }
/*#goods_classify ul{ height: 450px; width: 190px; }*/
#goods_classify ul li { position: relative; width: 164px; height: 43px; background: #E3E3E3; border-bottom:1px dashed #ccc; padding: 10px 13px;}
#goods_classify ul li a { font-size: 12px; color: #555555;}
#goods_classify ul li a:hover { text-decoration: underline; }
#goods_classify ul li span { position: absolute; right: 5px; top: 15px; display: block; width: 10px; height: 10px;  background: url(../img/index_img/leftjt.png) no-repeat; }
#goods_classify ul li h4 img { vertical-align: text-bottom; }
#goods_classify ul li h4 { font-size: 14px; font-family: "微软雅黑";}
.red { color: red !important; }

.itemtc_h { position: absolute; top: 0; left: 190px; width: 300px; height: 450px; background: white; opacity: 0;}
.itemtcul_h div { float: left; margin: 15px 0 0 15px;}
.itemtcul_h div img { margin-bottom: 19px; cursor: pointer;}

#handpick { opacity: 0; padding: 0 10px; width: 390px; height: 450px; background: white; position: absolute; top: 0; left: 190px;}
#handpick div { width: 100%; height: 47px; border-bottom: 1px dashed #E5E5E5; }
#handpick div h4 { font-size: 14px; margin: 8px 0 3px 3px; font-weight: 400;}
#handpick div a { font-size: 12px; color: #8B8B8B;}
#handpick div a:hover { text-decoration: underline; }
#handpick div s { font-size: 12px; color: #8B8B8B;}

.women_dress { opacity: 0; padding: 0 10px; width: 390px; height: 450px; background: white; position: absolute; top: 0; left: 190px;}
.women_dress div { width: 100%; height: 47px; border-bottom: 1px dashed #E5E5E5; }
.women_dress div h4 { font-size: 14px; margin: 8px 0 3px 3px; font-weight: 400;}
.women_dress div a { font-size: 12px; color: #8B8B8B;}
.women_dress div a:hover { text-decoration: underline; }
.women_dress div s { font-size: 12px; color: #8B8B8B;}
.women_dress div img { margin: 5px 21px 0 0; cursor: pointer;}

.man_clothing { opacity: 0; padding: 0 10px; width: 390px; height: 310px; background: white; position: absolute; top: 140px; left: 190px;}
.man_clothing div { width: 100%; height: 47px; border-bottom: 1px dashed #E5E5E5; }
.man_clothing div h4 { font-size: 14px; margin: 8px 0 3px 3px; font-weight: 400;}
.man_clothing div a { font-size: 12px; color: #8B8B8B;}
.man_clothing div a:hover { text-decoration: underline; }
.man_clothing div s { font-size: 12px; color: #8B8B8B;}
.man_clothing div img { margin: 5px 21px 0 0; cursor: pointer;}

.kids { opacity: 0; padding: 0 10px; width: 390px; height: 330px; background: white; position: absolute; top: 120px; left: 190px;}
.kids div { width: 100%; height: 47px; border-bottom: 1px dashed #E5E5E5; }
.kids div h4 { font-size: 14px; margin: 8px 0 3px 3px; font-weight: 400;}
.kids div a { font-size: 12px; color: #8B8B8B;}
.kids div a:hover { text-decoration: underline; }
.kids div s { font-size: 12px; color: #8B8B8B;}
.kids div img { margin: 5px 21px 0 0; cursor: pointer;}

.mama { opacity: 0; padding: 0 10px; width: 390px; height: 155px; background: white; position: absolute; top: 295px; left: 190px;}
.mama div { width: 100%; height: 47px; border-bottom: 1px dashed #E5E5E5; }
.mama div h4 { font-size: 14px; margin: 8px 0 3px 3px; font-weight: 400;}
.mama div a { font-size: 12px; color: #8B8B8B;}
.mama div a:hover { text-decoration: underline; }
.mama div s { font-size: 12px; color: #8B8B8B;}
.mama div img { margin: 5px 21px 0 0; cursor: pointer;}


