{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			html,body{
				min-height: 1200px !important;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="/static/css/header.css"/>
		<script src="/static/js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/test.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				var userMsg = $.cookie("userMsg");
				if( userMsg ){
					
					userMsg = JSON.parse(userMsg);
					$('#global_right ul li').remove();
					$('#global_right ul').append("<li style='width: auto;'>欢迎您，"+ userMsg.user +"<em class='lv lv0'></em></li>");
					$('#global_right ul').append("<li style='margin-left: 22px;'><a href='index.html' >退出</a></li>");
					$('#global_right ul').append("<li style='width: 40px;'><a href='cart.html'>购物车</a></li>");
					
					//退出
					$('#global_right ul li:eq(1) a').click(function(){
						$.cookie("userMsg",null, {expires:0, path:"/"}); //清空cookie
					})
				}
			})
		</script>
	</head>
	<body>
        <!-- Header -->
		<script type="text/javascript">
			$(function(){
				$('#global_left li:first').click(function(){
					location.href = "index.html";
				})
			})
		</script>
		<div id="global_nav">
			<div id="global_left">
				<ul>
					<li style="color: red; font-weight: bold;">返回首页</li>
					<li>收藏网站</li>
				</ul>
			</div>
			<div id="global_right">
				<ul>
					<li style="width: 155px;">您好，欢迎光临韩都衣舍！</li>
					<li><a href="{% url 'app:login' %}">登录</a></li>
					<li><a href="{% url 'app:register' %}" style="color: red;">注册</a></li>
					<li style="width: 40px;"><a href="{% url 'app:cart' %}">购物车</a></li>
				</ul>
			</div>
			<div style="float: left; margin: 6px 4px 0 0; color: #DDDDDD;"> 丨 </div>
			<div id="list_right">
				<ul>
					<li><a href="">在线客服</a></li>
					<li><a href="">帮助中心</a></li>
					<li style="width: 73px; cursor: pointer;"><div></div><a href="">网站导航</a></li>
				</ul>
			</div>
		</div>

		<script type="text/javascript">
		$(function(){
			$("#list_right ul li").eq(2).hover(function(){
				$("#webhd").show();
			},function(){
				$("#webhd").hide();
			});
			$("#webhd").hover(function(){
				$("#webhd").show();
			},function(){
				$("#webhd").hide();
			});
		})
		</script>
		<div id="webhd" style="display: none;">
			<div class="hot">
				<h3>大家都在买Hot</h3>
				<ul>
					<li>t恤</li>
					<li>连衣裙</li>
					<li>牛仔裤</li>
					<li>毛衣针织</li>
					<li>卫衣绒衫</li>
					<li>休闲套装</li>
				</ul>
			</div>
			<div class="women">
				<h3>女装Women</h3>
				<ul>
					<li>韩风快时尚女装</li>
					<li>韩风快时尚妈妈装</li>
					<li>韩风甜美少女装</li>
					<li>东方复古设计师女装</li>
					<li>韩风名媛时尚女装</li>
					<li>欧美浪漫田园风女装</li>
					<li>韩风大码女装</li>
					<li>欧美快时尚女装</li>
				</ul>
			</div>
			<div class="AMH">
				<h3>男装Men</h3>
				<ul>
					<li>韩风快时尚男装</li>
					<li>东风禅意设计师男装</li>
					<li>欧美街头轻潮男装</li>
				</ul>
			</div>
			<div class="mini">
				<h3>童装Children</h3>
				<ul>
					<li>韩风快时尚童装</li>
					<li>东风简约设计师童装</li>
				</ul>
			</div>
			<div class="help">
				<h3>帮助中心Help</h3>
				<ul>
					<li>会员制度</li>
					<li>售后服务</li>
					<li>购物流程</li>
					<li>关于发票</li>
					<li>配送方式</li>
					<li>韩都招聘</li>
				</ul>
			</div>
		</div>

		<script type="text/javascript">
			$(function(){
				$('.hdtop_logo').click(function(){
					location.href = "index.html";
				})
			})
		</script>
		<div id="hdtop_header">
			<div class="hdtop_logo"></div>
			<div class="hd_search">
				<div class="hdi_search">
					<input type="text" id="" value="">
					<button>搜   索</button>
				</div>
				<div class="hotwords">
					<ul>
						<li>韩风童装</li><s> 丨 </s>
						<li>精选男装</li><s> 丨 </s>
						<li>简约女装</li><s> 丨 </s>
						<li>甜美女装</li><s> 丨 </s>
						<li>时尚妈妈</li><s> 丨 </s>
						<li>明星同款</li>
					</ul>
				</div>
			</div>
			<img src="{% static  'img/index_img/ewm.png'  %}">
		</div>

		<div class="yNavIndex">
			<div style="width: 100%;height: 12px;">
				<span style="float: right; font-size: 12px; margin-right: 162px; color: red; font-weight:bold ;">下载APP即送壕礼</span>
			</div>
			<div class="yHeader">
				<div class="pullDTitle">全部商品分类</div>
				<ul class="yMenuIndex">
					<li style="width: 134px;">2016秋冬新品</li>
					<li>会员专享</li>
					<li>团购批发</li>
				</ul>
				<ul class="nav_right">
					<li style="width: 105px;">会员俱乐部 <img src="{% static  'img/index_img/sjt.png'  %}"></li>
					<li style="width: 98px;">韩都咨询 <img src="{% static  'img/index_img/sjt.png'  %}"></li>
					<li>招兵买马</li>
				</ul>
				<ul class="vip" style="display: none;">
					<li style="border-bottom: 1px solid #E5E5E5;">韩都真人秀</li>
					<li>好评有礼</li>
				</ul>
				<ul class="hd_news" style="display: none;">
					<li style="border-bottom: 1px solid #E5E5E5;">韩都设计</li>
					<li>品牌故事</li>
				</ul>
				<script type="text/javascript">
					$(function(){
						$(".nav_right li").eq(0).hover(function(){ $(".vip").show(); },function(){ $(".vip").hide(); })
						$(".vip").hover(function(){ $(".vip").show(); },function(){ $(".vip").hide(); })

						$(".nav_right li").eq(1).hover(function(){ $(".hd_news").show(); },function(){ $(".hd_news").hide(); })
						$(".hd_news").hover(function(){ $(".hd_news").show(); },function(){ $(".hd_news").hide(); })
					})
				</script>
			</div>
		</div>
	<!-- 商品分类  -->
	<link rel="stylesheet" type="text/css" href="css/lunbo_goods.css">
    <script src="js/goods_classify.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    	$(function(){
    		$('.pullDTitle').hover(function(){
    			$('#goods_classify').show();
    		},function(){
    			$('#goods_classify').hide();
    		})

    		$('#goods_classify').hover(function(){
    			$('#goods_classify').show();
    		},function(){
    			$('#goods_classify').hide();
    		})
    	})
    </script>
        <div id="goods_classify" style="display: none;">
        	<ul>
        		<li>
        			<h4><img src="{% static  'img/index_img/tb1.png'  %}">  全部商品分类</h4>
        			<a href="">本周新品</a>
        			<a href="">按价格</a>
        			<a href="">按销量</a>
        			<span></span>
        		</li>
        		<li>
        			<h4><img src="{% static  'img/index_img/tb2.png'  %}">  精选推荐</h4>
        			<a href="" class="red">连衣裙</a>
        			<a href="">潮流爆款</a>
        			<a href="">秋季风格</a>
        			<span></span>
        		</li>
        		<li>
        			<h4><img src="{% static  'img/index_img/tb3.png'  %}">  潮流女装</h4>
        			<a href="" class="red">T恤</a>
        			<a href="">连衣裙</a>
        			<a href="">牛仔裤</a>
        			<span></span>
        		</li>
        		<li>
        			<h4><img src="{% static  'img/index_img/tb4.png'  %}">  精品男装</h4>
        			<a href="" class="red">T恤</a>
        			<a href="">衬衫</a>
        			<a href="">裤装</a>
        			<span></span>
        		</li>
        		<li>
        			<h4><img src="{% static  'img/index_img/tb5.png'  %}">  可爱童装</h4>
        			<a href="">童装新品</a>
        			<a href="" class="red">裙装</a>
        			<a href="">毛衣/针织衫</a>
        			<span></span>
        		</li>
        		<li>
        			<h4><img src="{% static  'img/index_img/tb6.png'  %}">  时尚妈妈</h4>
        			<a href="">T恤</a>
        			<a href="">连衣裙</a>
        			<a href="">裤装</a>
        			<a href="">外套</a>
        			<span></span>
        		</li>
        		<li>
        			<h4><img src="{% static  'img/index_img/tb7.png'  %}">  鞋包配饰</h4>
        			<a href="" class="red">鞋子</a>
        			<a href="">鞋包</a>
        			<span></span>
        		</li>
        	</ul>

        	<div name="xt" class="itemtc_h" style="display: none;">
        		<div class="itemtcul_h">
        			<div style="width: 70px; height: 423px; margin-left: 37px;">
        				<img src="{% static  'img/index_img/nana.png'  %}">
        				<img src="{% static  'img/index_img/hstyle.png'  %}">
        				<img src="{% static  'img/index_img/forqueen.png'  %}">
        				<img src="{% static  'img/index_img/soneed.png'  %}">
        				<img src="{% static  'img/index_img/hanyunyixiang.png'  %}">
        				<img src="{% static  'img/index_img/ytxz.png'  %}">
        				<img src="{% static  'img/index_img/nibbuns.png'  %}">
        				<img src="{% static  'img/index_img/cx.png'  %}">
        				<img src="{% static  'img/index_img/bly.png'  %}">
        			</div>
	        		<div style="width: 70px; height: 423px;">
	        			<img src="{% static  'img/index_img/laola.png'  %}">
	        			<img src="{% static  'img/index_img/sulv.png'  %}">
	        			<img src="{% static  'img/index_img/zc.png'  %}">
	        			<img src="{% static  'img/index_img/amh.png'  %}">
	        			<img src="{% static  'img/index_img/anma.png'  %}">
	        			<img src="{% static  'img/index_img/zg.png'  %}">
	        			<img src="{% static  'img/index_img/mini.png'  %}">
	        			<img src="{% static  'img/index_img/hp.png'  %}">
	        			<img src="{% static  'img/index_img/dx1.png'  %}">
	        		</div>
	        		<div><img src="{% static  'img/index_img/guoya.png'  %}"></div>
        		</div>
        	</div>

        	<div name="xt" id="handpick" style="display: none;">
        		<div class="">
        			<h4>特惠精选</h4>
        			<a href="" style="margin-left: 14px;">清仓特惠</a><s> 丨 </s>
        			<a href="">爆款特惠</a>
        		</div>
        		<div class="">
        			<h4>潮流新品</h4>
        			<a href="" class="red" style="margin-left: 14px;">2016秋装新品</a><s> 丨 </s>
        			<a href="">原创新品</a><s> 丨 </s>
        			<a href="">T恤新品</a><s> 丨 </s>
        			<a href="">连衣裙新品</a><s> 丨 </s>
        			<a href="">牛仔新品</a>
        		</div>
        		<div style="height: 61px;" class="">
        			<h4>类目新品</h4>
        			<a href="" class="red" style="margin-left: 14px;">连衣裙</a><s> 丨 </s>
        			<a href="">牛仔裤</a><s> 丨 </s>
        			<a href="">衬衫</a><s> 丨 </s>
        			<a href="">卫衣</a><s> 丨 </s>
        			<a class="red" href="">T恤</a><s> 丨 </s>
        			<a href="">休闲裤</a><s> 丨 </s>
        			<a href="">半身裙</a><s> 丨 </s>
        			<a href="">套装</a><s> 丨 </s>
        			<a href="">短裤</a>
        		</div>
        		<div class="">
        			<h4>爆款集锦</h4>
        			<a class="red" href="" style="margin-left: 14px;">2016秋装爆款</a><s> 丨 </s>
        			<a href="">女装爆款</a><s> 丨 </s>
        			<a href="">男装爆款</a><s> 丨 </s>
        			<a href="">童装爆款</a><s> 丨 </s>
        			<a href="">妈妈装爆款</a>
        		</div>
        		<div style="height: 61px;" class="">
        			<h4>百变风格</h4>
        			<a class="red" href="" style="margin-left: 14px;">潮流韩范</a><s> 丨 </s>
        			<a href="">纯色</a><s> 丨 </s>
        			<a href="">优雅OL</a><s> 丨 </s>
        			<a href="">印花</a><s> 丨 </s>
        			<a href="">甜美清新</a><s> 丨 </s>
        			<a href="">条纹</a><s> 丨 </s>
        			<a href="">度假出游</a><s> 丨 </s>
        			<a href="">拼接</a><s> 丨 </s>
        			<a href="">复古</a><s> 丨 </s>
        			<a href="">字母</a><s> 丨 </s>
        			<a href="">修身</a><s> 丨 </s>
        			<a href="">几何</a><s> 丨 </s>
        			<a href="">宽松</a><s> 丨 </s>
        			<a href="">不规则</a>
        		</div>
        		<div style="height: 61px;" class="">
        			<h4>更多推荐</h4>
        			<a href="" style="margin-left: 14px;">设计师推荐</a><s> 丨 </s>
        			<a href="">大码-范奎恩</a><s> 丨 </s>
        			<a href="">劳拉的誓约</a><s> 丨 </s>
        			<a href="">极简主义-白鹿语</a><s> 丨 </s>
        			<a class="red" href="">轻时尚简约-哲初</a>
        		</div>
        	</div>

        	<div name="xt" class="women_dress" style="display: none;">
        		<div style="height: 61px;" class="">
        			<h4>韩风时尚HSTYLE</h4>
        			<a class="red" href="" style="margin-left: 14px;">T恤</a><s> 丨 </s>
        			<a href="">衬衫</a><s> 丨 </s>
        			<a href="">套装</a><s> 丨 </s>
        			<a class="red" href="">连衣裙</a><s> 丨 </s>
        			<a href="">半身裙</a><s> 丨 </s>
        			<a class="red" href="">牛仔裤</a><s> 丨 </s>
        			<a href="">休闲裤</a><s> 丨 </s>
        			<a href="">短裤</a><s> 丨 </s>
        			<a href="">蕾丝衫/雪纺衫</a>
        		</div>
        		<div style="height: 80px;" class="">
        			<h4>时尚名媛SONEED</h4>
        			<a href="" style="margin-left: 14px;">T恤</a><s> 丨 </s>
        			<a class="red" href="">衬衫</a><s> 丨 </s>
        			<a href="">蕾丝衫/雪纺衫</a><s> 丨 </s>
        			<a href="">毛针织衫</a><s> 丨 </s>
        			<a href="">卫衣/绒衫</a><s> 丨 </s>
        			<a href="">西装</a><s> 丨 </s>
        			<a href="">套装</a><s> 丨 </s>
        			<a href="">风衣</a><s> 丨 </s>
        			<a href="">背心吊带</a><s> 丨 </s>
        			<a href="">毛呢外套</a><s> 丨 </s>
        			<a href="">连衣裙</a><s> 丨 </s>
        			<a href="">半身裙</a><s> 丨 </s>
        			<a href="">牛仔裤</a><s> 丨 </s>
        			<a href="">休闲裤</a><s> 丨 </s>
        			<a href="">短裤</a>
        		</div>
        		<div style="height: 80px;" class="">
        			<h4>欧美风尚 尼班诗</h4>
        			<a href="" style="margin-left: 14px;">T恤</a><s> 丨 </s>
        			<a href="">衬衫</a><s> 丨 </s>
        			<a href="">西装</a><s> 丨 </s>
        			<a href="">蕾丝衫/雪纺衫</a><s> 丨 </s>
        			<a href="">卫衣/绒衫</a><s> 丨 </s>
        			<a href="">毛针织衫</a><s> 丨 </s>
        			<a href="">风衣</a><s> 丨 </s>
        			<a href="">毛呢外套</a><s> 丨 </s>
        			<a href="">短裤</a><s> 丨 </s>
        			<a class="red" href="">牛仔裤</a><s> 丨 </s>
        			<a href="">休闲裤</a><s> 丨 </s>
        			<a href="">打底裤</a><s> 丨 </s>
        			<a href="">半身裙</a><s> 丨 </s>
        			<a href="">连衣裙</a>
        		</div>
        		<div style="height: 80px;" class="">
        			<h4>甜美少女NanaDay</h4>
        			<a href="" style="margin-left: 14px;">毛针织衫</a><s> 丨 </s>
        			<a class="red" href="">T恤</a><s> 丨 </s>
        			<a href="">短外套</a><s> 丨 </s>
        			<a href="">衬衫</a><s> 丨 </s>
        			<a href="">棉衣棉服</a><s> 丨 </s>
        			<a href="">卫衣/绒衣</a><s> 丨 </s>
        			<a href="">套装</a><s> 丨 </s>
        			<a href="">连衣裙</a><s> 丨 </s>
        			<a href="">半身裙</a><s> 丨 </s>
        			<a href="">毛呢外套</a><s> 丨 </s>
        			<a href="">羽绒服</a><s> 丨 </s>
        			<a href="">蕾丝雪纺</a><s> 丨 </s>
        			<a href="">裤装</a>
        		</div>
        		<div style="border: none;">
        			<img src="{% static  'img/index_img/hstyle.png'  %}">
        			<img src="{% static  'img/index_img/sulv.png'  %}">
        			<img src="{% static  'img/index_img/soneed.png'  %}">
        			<img src="{% static  'img/index_img/nibbuns.png'  %}">
        			<img src="{% static  'img/index_img/forqueen.png'  %}">
        			<img src="{% static  'img/index_img/nana.png'  %}">
        			<img src="{% static  'img/index_img/ytxz.png'  %}">
        			<img src="{% static  'img/index_img/laola.png'  %}">
        			<img src="{% static  'img/index_img/bly.png'  %}">
        			<img src="{% static  'img/index_img/zc.png'  %}">
        			<img src="{% static  'img/index_img/cx.png'  %}">
        		</div>
        	</div>

        	<div name="xt" class="man_clothing" style="display: none;">
        		<div style="height: 80px;" class="">
        			<h4>韩风时尚AMH</h4>
        			<a class="red" href="" style="margin-left: 14px;">T恤</a><s> 丨 </s>
        			<a href="">POLO衫</a><s> 丨 </s>
        			<a href="">衬衫</a><s> 丨 </s>
        			<a href="">毛衣/针织</a><s> 丨 </s>
        			<a href="">卫衣</a><s> 丨 </s>
        			<a href="">外套</a><s> 丨 </s>
        			<a href="">夹克</a><s> 丨 </s>
        			<a href="">风衣</a><s> 丨 </s>
        			<a href="">棉衣棉服</a><s> 丨 </s>
        			<a href="">羽绒服</a><s> 丨 </s>
        			<a href="">休闲裤</a><s> 丨 </s>
        			<a href="">牛仔裤</a><s> 丨 </s>
        			<a href="">腰带</a><s> 丨 </s>
        			<a href="">男鞋</a><s> 丨 </s>
        			<a href="">帽子</a><s> 丨 </s>
        			<a href="">男包</a>
        		</div>
        		<div style="height: 61px;" class="">
        			<h4>欧美街头 暗码</h4>
        			<a href="" style="margin-left: 14px;">T恤</a><s> 丨 </s>
        			<a href="">PLLO衫</a><s> 丨 </s>
        			<a href="">衬衫</a><s> 丨 </s>
        			<a href="">毛衣/针织衫</a><s> 丨 </s>
        			<a href="">卫衣</a><s> 丨 </s>
        			<a href="">夹克</a><s> 丨 </s>
        			<a class="red" href="">休闲裤</a><s> 丨 </s>
        			<a href="">牛仔裤</a>
        		</div>
        		<div class="">
        			<h4>东方禅意 自古</h4>
        			<a href="" style="margin-left: 14px;">T恤</a><s> 丨 </s>
        			<a class="red" href="">衬衫</a><s> 丨 </s>
        			<a href="">针织衫</a><s> 丨 </s>
        			<a href="">风衣</a><s> 丨 </s>
        			<a href="">休闲裤</a>
        		</div>
        		<div style="border: none;">
        			<img src="{% static  'img/index_img/amh.png'  %}">
        			<img src="{% static  'img/index_img/anma.png'  %}">
        			<img src="{% static  'img/index_img/zg.png'  %}">
        		</div>
        	</div>

        	<div name="xt" class="kids" style="display: none;">
        		<div style="height: 80px;" class="">
        			<h4>韩风时尚Minizaru</h4>
        			<a class="red" href="" style="margin-left: 14px;">T恤</a><s> 丨 </s>
        			<a href="">衬衫</a><s> 丨 </s>
        			<a href="">卫衣</a><s> 丨 </s>
        			<a href="">套装</a><s> 丨 </s>
        			<a href="">毛衣/针织衫</a><s> 丨 </s>
        			<a href="">毛呢/外套</a><s> 丨 </s>
        			<a href="">羽绒服饰</a><s> 丨 </s>
        			<a href="">半身裙</a><s> 丨 </s>
        			<a href="">连衣裙</a><s> 丨 </s>
        			<a href="">休闲裤</a><s> 丨 </s>
        			<a href="">牛仔裤</a><s> 丨 </s>
        			<a href="">打底裤</a><s> 丨 </s>
        			<a href="">短裤</a><s> 丨 </s>
        			<a href="">马甲</a>

        		</div>
        		<div style="height: 61px;" class="">
        			<h4>欧美风尚HoneyPig</h4>
        			<a href="" style="margin-left: 14px;">T恤</a><s> 丨 </s>
        			<a href="">衬衫</a><s> 丨 </s>
        			<a href="">卫衣</a><s> 丨 </s>
        			<a href="">毛衣/针织衫</a><s> 丨 </s>
        			<a href="">外套/夹克/大衣</a><s> 丨 </s>
        			<a href="">套装</a><s> 丨 </s>
        			<a href="">连衣裙</a><s> 丨 </s>
        			<a href="">半身裙</a><s> 丨 </s>
        			<a href="">短裤</a><s> 丨 </s>
        			<a class="red" href="">休闲裤</a><s> 丨 </s>
        			<a href="">打底裤</a><s> 丨 </s>
        			<a href="">牛仔裤</a>
        		</div>
        		<div style="height: 61px;" class="">
        			<h4>东方禅意 自古</h4>
        			<a class="red" href="" style="margin-left: 14px;">T恤/吊带衫</a><s> 丨 </s>
        			<a href="">毛衣/针织衫</a><s> 丨 </s>
        			<a href="">衬衫</a><s> 丨 </s>
        			<a href="">卫衣/绒衫</a><s> 丨 </s>
        			<a href="">外套</a><s> 丨 </s>
        			<a href="">裤子</a><s> 丨 </s>
        			<a href="">半身裙</a><s> 丨 </s>
        			<a href="">连衣裙</a><s> 丨 </s>
        			<a href="">棉衣/棉服</a>
        		</div>
        		<div style="border: none;">
        			<img src="{% static  'img/index_img/mini.png'  %}">
        			<img src="{% static  'img/index_img/hp.png'  %}">
        			<img src="{% static  'img/index_img/guoya.png'  %}">
        			<img src="{% static  'img/index_img/dx1.png'  %}">
        		</div>
        	</div>

        	<div name="xt" class="mama" style="display: none;">
        		<div style="height: 61px;" class="">
        			<h4>妈妈装</h4>
        			<a class="red" href="" style="margin-left: 14px;">T恤</a><s> 丨 </s>
        			<a href="">衬衫</a><s> 丨 </s>
        			<a href="">外套</a><s> 丨 </s>
        			<a href="">毛衣/针织</a><s> 丨 </s>
        			<a href="">风衣</a><s> 丨 </s>
        			<a href="">棉衣/棉服</a><s> 丨 </s>
        			<a href="">马甲</a><s> 丨 </s>
        			<a href="">裤子</a><s> 丨 </s>
        			<a href="">连衣裙</a><s> 丨 </s>
        			<a href="">半身裙</a><s> 丨 </s>
        			<a href="">套装</a>
        		</div>
        		<div style="border: none;">
        			<img src="{% static  'img/index_img/hanyunyixiang.png'  %}">
        		</div>
        	</div>

        </div>

        <!-- 新舍友赠礼 -->
        <img style="margin: 15px 0 0 145px; width: 1100px; height: 60px;" src="{% static  'img/register_img/banner1.jpg'  %}">
        <!-- 登录 -->
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
        <script src="js/login.js" type="text/javascript" charset="utf-8"></script>
        <div class="login">
        	<div class="login_left"><img src="{% static  'img/login_img/410-290.png'  %}"></div>
        	<div class="login_right">
        		<div class="login_form">
        			<h1>用户登录</h1>
        			<div class="news_loginright">
        				<ul class="news_loginright_list">
                            <form action="/login/" method="post">
                                {% csrf_token %}
        					<li>
        						<div class="news_loginname">用户名：</div>
        						<input type="text" class="news_logintxt" name="email" placeholder="邮箱地址/手机号">
        					</li>
        					<li>
        						<div class="news_loginname">密码：</div>
        						<input type="password" class="news_logintxt" name="password" value="">
        					</li>
{#        					<li>#}
{#        						<div class="news_loginname">验证码：</div>#}
{#        						<input class="yanzheng" type="text" id="" value="">#}
{#        						<div class="login_list_yzm">wq12</div>#}
{#        					</li>#}
        					<li style="text-align: center;margin-left: 75px;margin-top: 0px;">
        						<span class="login_error"></span>
        						<span>
        							<input type="submit" value="登录">
        							<div style="height: 35px; line-height: 50px; float: left;">
        								<input type="checkbox" name="" class="login_ridio" value="">
        								保存登录信息
        							</div>
        						</span>
        					</li>
        					<li style="margin-left: 80px; height: 30px; line-height: 30px;">
        						<a style="float: left; color: #767676; text-decoration: underline;" href="register.html">注册</a>
        						<span>丨</span>
        						<a style="color: #767676; text-decoration: underline;" href="">忘记密码？</a>
        					</li>
                                </form>
        				</ul>
        			</div>
        		</div>

        		<div class="login_other">
        			<div class="login_other_title">其他登录方式：</div>
        			<div class="login_other_btn">
        				<span class="login_other_btn00"></span>
        				<span class="login_other_btn00 login_other_btn11"></span>
        				<span class="login_other_btn00 login_other_btn22"></span>
        				<span class="login_other_btn00 login_other_btn33"></span>
        			</div>
        		</div>
        	</div>
        </div>



        <!-- footer -->
	    <link rel="stylesheet" type="text/css" href="css/footer.css">
	    <div class="footer_info">
	    	<div class="info_column">
	    		<h4 style="background: url(img/index_img/footer01.png) no-repeat 0px 0px;"></h4>
	    		<ul>
	    			<li>用户注册</li>
	    			<li>购物流程</li>
	    			<li>网站导航</li>
	    			<li>帮助中心</li>
	    		</ul>
	    	</div>
	    	<div class="info_column">
	    		<h4 style="background: url(img/index_img/footer01.png) no-repeat -2px -34px;"></h4>
	    		<ul>
	    			<li>在线支付</li>
	    			<li>货到付款</li>
	    			<li>扫码支付</li>
	    			<li>优惠券支付</li>
	    		</ul>
	    	</div>
	    	<div class="info_column">
	    		<h4 style="background: url(img/index_img/footer01.png) no-repeat 10px -66px;"></h4>
	    		<ul>
	    			<li>配送说明</li>
	    			<li>运费说明</li>
	    			<li>验货签收</li>
	    			<li>货到付款</li>
	    		</ul>
	    	</div>
	    	<div class="info_column">
	    		<h4 style="background: url(img/index_img/footer01.png) no-repeat 3px -99px;"></h4>
	    		<ul>
	    			<li>退换货政策</li>
	    			<li>退换货流程</li>
	    		</ul>
	    	</div>
	    	<div class="info_column">
	    		<h4 style="background: url(img/index_img/footer01.png) no-repeat 2px -133px;"></h4>
	    		<ul>
	    			<li>会员制度</li>
	    			<li>会员积分</li>
	    			<li>好评有礼</li>
	    		</ul>
	    	</div>
	    	<div class="info_column">
	    		<h4 style="background: url(img/index_img/footer01.png) no-repeat 1px -197px;"></h4>
	    		<ul>
	    			<li>品牌故事</li>
	    			<li>媒体报道</li>
	    			<li>诚聘英才</li>
	    			<li>联系我们</li>
	    		</ul>
	    	</div>
	    </div>

	    <img style="margin: 24px 0 0 169px;" src="{% static  'img/index_img/feature1.png'  %}">

	    <div class="footer_black">
	    	<ul>
	    		<li>首页</li><s> 丨 </s>
	    		<li>品牌故事</li><s> 丨 </s>
	    		<li>诚聘英才</li><s> 丨 </s>
	    		<li>媒体报道</li><s> 丨 </s>
	    		<li>联系我们</li><s> 丨 </s>
	    		<li>网站地图</li><s> 丨 </s>
	    		<li>友情链接</li>
	    	</ul>
	    </div>

	    <div class="copyright">
	    	<div>
	    		<img src="{% static  'img/index_img/copyright.gif'  %}">鲁ICP备14003322号-2 © 2006-2015 handu.com All Rights Reserved.
	    		<img src="{% static  'img/index_img/beiantubiao.png'  %}">鲁公网安备 37010202000113号 山东韩都衣舍电商集团有限公司，禁止非法复制
	    		<img src="{% static  'img/index_img/pic.gif'  %}">
	    	</div>
	    </div>

	    <center>
	    	<img src="{% static  'img/index_img/zxmbutton02_sy.jpg'  %}">
	    	<img src="{% static  'img/index_img/zxmbutton05_sy.jpg'  %}">
	    	<img style="width: 102px; height: 38px;" src="{% static  'img/index_img/cnnic.png'  %}">
	    	<img style="height: 38px;" src="{% static  'img/index_img/cctv.png'  %}">
	    </center>

	    <!-- 右侧悬浮 -->
	    <script type="text/javascript">
	    	$(function(){
	    		$('.float_box ul li').hover(function(){
	    			$(this).css('background-position-x','-78px');
	    		},function(){
	    			$(this).css('background-position-x','0px');
	    		})

	    		$(window).scroll(function(){
	    			var currentTop = $(this).scrollTop();

	    			if( currentTop>=$('.news_loginname:eq(1)').offset().top ){
	    				$('.float_box').show();
	    			}else{
	    				$('.float_box').hide();
	    			}

	    		});

	    		$('.float_box ul li:last').click(function(){
	    			$('body,html').animate({
						"scrollTop" :  0
					},500)
	    		})

	    		$('.float_box li:first').click(function(){
	    			location.href = "cart.html";
	    		})
	    	})
	    </script>
	    <div class="float_box">
	    	<ul>
	    		<li style="background: url(img/index_img/float_box4.png) no-repeat 0px -164px;"></li>
	    		<li style="background: url(img/index_img/float_box4.png) no-repeat 0px -242px;"></li>
	    		<li style="background: url(img/index_img/float_box4.png) no-repeat 0px -320px;"></li>
	    		<li style="background: url(img/index_img/float_box4.png) no-repeat 0px -399px;"></li>
	    		<li style="background: url(img/index_img/float_box4.png) no-repeat 0px -478px;"></li>
	    	</ul>
	    </div>

    </body>
</html>
