{% load static %}

{% block extcss %}
    <link rel="stylesheet" href="{% static 'css/orderinfo.css' %}">
{% endblock %}
{% block extjs %}
    <script src="{% static 'js/orderinfo.js' %}"></script>

{% endblock %}

{% block title %}
    订单详情
{% endblock %}

{% block content %}
    <div class="orderinfo">
    <h3>订单号：{{ order.identifier }}</h3>
    <ul>
        {% for orderGoods in order.ordergoods_set.all %}
                <li>
                    <div class="content-wrapper">
                        <div class="img">
                            <img src="{{ orderGoods.goods.img }}" alt="">
                        </div>
                        <div class="detail">
                            <p class="num">
                                x{{ orderGoods.number }}
                            </p>
                            <p class="price">
                                ${{ orderGoods.goods.price }}
                            </p>

                        </div>
                    </div>
                </li>
        {% endfor %}

    </ul>
    <button class="btn btn-success">付款</button>
    </div>
{% endblock %}